.elmlst {
    color: #495057 !important;
    cursor: pointer !important;
    border-radius: 0px !important;
    height: 30px;
    font-size: 12px !important;
    width: 100%;
    text-align: left !important;
    border: 1px solid #dee2e6 !important;
}

.actionBtn {
    border: solid 1px #dee2e6;
    margin-right:2px;
}

.ml-0{
    margin-left:0px;
}