################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
**/obj/**
**/obj/*.g.props
**/obj/*.nuget.dgspec.json
/MedCase.Helios.EDC.V3/Helios.Authentication/obj/Debug/net7.0/Helios.Authentication.assets.cache
