################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
bin
obj
**/obj/**
**/obj/*.g.props
**/obj/*.nuget.dgspec.json
**/obj/*/*.assets.cache

