a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navLogoImg {
    height: 30px;
    display: inherit;
}

.navLogoContainer {
    margin-left: 20px;
}

.navb-stl {
    height:75px;
}

.userAvatarContainer li a.dropdown-toggle {
    top: -2px;
}

.userAvatarContainer.nav > li.active a:hover, .userAvatarContainer.nav > li.active a:focus {
    background: transparent;
    color: #676a6c;
    border-bottom: none;
    box-shadow: none;
}

.userAvatarContainer.nav > li a:hover, .userAvatarContainer.nav > li a:focus {
    background: transparent;
    color: #676a6c;
    border-bottom: none;
    box-shadow: none;
    transform: none;
}

.userAvatarImg {
    /* margin-left: 10px; */
    width: 36px !important;
    height: 36px !important;
    cursor:pointer;
    margin-right:5px;
}


